[user]
    name = Matthew Maclean
    email = mmaclean@palantir.com
[credential]
    helper = cache
[color]
    diff = auto
[core]
    excludesfile = /home/Matt/.gitignore
    editor = vim
[merge]
    conflictstyle = diff3
    tool = Kaleidoscope
[diff]
    algorithm = histogram
    renames = true
    tool = Kaleidoscope
[http]
    sslVerify = false
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustexitcode = true
[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false
[mergetool]
    prompt = false
[url "git@github.palantir.build:"]
    insteadOf = https://github.palantir.build/
[url "git@github.com:"]
    insteadOf = https://github.com/
