[user]
	name = Matthew Maclean
	email = mmaclean@palantir.com
[credential]
	helper = cache
[color]
	diff = always
[core]
	excludesfile = /home/Matt/.gitignore
	editor = vim
[merge]
	conflictstyle = diff3
