[submodule "solarized"]
	path = solarized
	url = git@github.com:altercation/solarized.git
[submodule "/Users/mmaclean/.vim/bundle/vundle"]
	path = /Users/mmaclean/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
